body {
    font-family: "Roboto", sans-serif;
    background: #fefefe;
    

    
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

address {
    font-style: normal;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    font-family: inherit;
    color: currentColor;
}

input {
    font-family: inherit;
}

/* ******************header******************** */

.header {
    margin: 0 auto;
    width: 320px;
    box-shadow: 0 24px 24px 0 rgba(105, 105, 105, 0.1);
    background-color: #fefefe;
    position: relative;
    
    
}
.header-box {
    display: flex;
    justify-content: space-between; 
    padding: 10px 20px;  
}

.header-open-menu {
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    
}

.header-icon {
    fill: #7eb101;
    transition: fill 250ms ease-in-out;
}


.header-icon:hover,
.header-icon:focus {
    fill: #ffe550;
}



/* *********************mob-menu************************ */
.menu-box {
    position: relative;
}
.menu-mob {
    position: absolute;
    top: -40px;
    right: 20px;
    border-radius: 30px 0 30px 30px;
    width: 130px;
    height: 255px;
    box-shadow: 0 4px 24px 0 rgba(105, 105, 105, 0.1);
    background: #fefefe;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms ease-in-out, visibility 250ms ease-in-out; 
}

.is-open {
    opacity: 1;
    pointer-events: auto;
}

.mob-close-btn {
    position: absolute;
    top: 4px;
    right: 4px;
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 24px;
    height: 24px;
    margin-left: auto;
}

.mob-close-img {
    fill: #2c2c2c;
}

.menu-mob-list{
    display: flex;
    flex-direction: column;
    
    
}
.menu-mob-link {
    font-weight: 400;
    font-size: 16px;
    color: #000;
    padding: 16px 10px 16px 16px;   
    transition: background-color 250ms ease-in-out;
}
.menu-mob-start {
    font-weight: 400;
    font-size: 16px;
    color: #000;
    padding: 16px 10px 16px 16px;
    border-radius: 30px 0 0 0;
    transition: background-color 250ms ease-in-out;
}

.menu-mob-end {
    font-weight: 400;
    font-size: 16px;
    color: #000;
    padding: 16px 10px 16px 16px;
    border-radius:  0 0 30px 30px;
    transition: background-color 250ms ease-in-out;
}

.menu-mob-link:hover,
.menu-mob-link:focus {
    background-color: #bbf330;
}

.menu-mob-start:hover,
.menu-mob-start:focus {
    background-color: #bbf330;
}

.menu-mob-end:hover,
.menu-mob-end:focus {
    background-color: #bbf330;
}

/* **********************tabl-des-menu*********************** */
.menu {
    display: none;
    align-items: center;
    gap: 30px;
}

.menu-list {
    display: flex;
    gap: 28px;
}
.menu-item {
    font-weight: 400;
    font-size: 14px;
    color: #000;
    transition: color 250ms ease-in-out;
}

.menu-item:hover,
.menu-item:focus {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #bbf330;
}
.menu-btn {
    border-radius: 30px;
    padding: 6px 17px;
    width: 98px;
    height: 32px;
    background-color: #bbf330;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    text-align: right;
    color: #2c2c2c;
    border: none;
    cursor: pointer;
    transition: background-color 250ms ease-in-out;
    
}

.menu-btn:hover,
.menu-btn:focus {
    background-color: #ffe450;
}

/* ******************header 768******************** */


@media screen and (min-width: 768px) {
.menu {
        display: flex;
    }
.header {
    width: 768px;
}
.header-box {
    display: flex;
    justify-content: space-between;
    padding: 10px 32px;
}
.menu-box{
    display: none;
}
.header-open-menu {
    display: none;
}
}

/* ******************header 1280******************** */
@media screen and (min-width: 1280px) {
.header {
        width: 1280px;
    }
.header-box {
    padding: 10px 16px;
}
}




/* ****************enjoy***************** */



.main-box {
    margin: 0 auto;
    width: 320px;
    box-shadow: 0 24px 24px 0 rgba(105, 105, 105, 0.1);    
}
.enjoy {
    padding: 60px 20px 50px 20px;
    position: relative;
}
.enjoy-title {
    font-weight: 700;
    font-size: 28px;
    color: #2c2c2c;
    margin-bottom: 20px;
}
.enjoy-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    color: #2c2c2c;
    margin-bottom: 32px;
}

.enjoy-btn {
    border-radius: 30px;
    padding: 6px 17px;
    width: 98px;
    height: 32px;
    background-color: #bbf330;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    text-align: right;
    color: #2c2c2c;
    border: none;
    cursor: pointer;
    transition: background-color 250ms ease-in-out;
    
}

.enjoy-btn:hover,
.enjoy-btn:focus {
    background-color: #ffe450;
}
.carusel {
    display: none;
    position: absolute;
    top: 150px;
    right: 40px;
}
.carusel-list {
    position: relative;
}

.carusel-item {
    border: 14px solid #ffe550;
    border-radius: 100%;
    background-color: #fefefe;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border 250ms ease-in-out;
       
}

.carusel-item:hover {
    border: 14px solid #bbf330;
}

.carusel-img {
    width: 292px;
    height: 292px;
}


/* ******************enjoy 768******************** */


@media screen and (min-width: 768px) {
.main-box {
    width: 768px;
}
.enjoy {
    padding: 60px 32px 0 32px;
}
.enjoy-title {
    font-size: 42px;
    line-height: 1.2;
    width: 537px;
    margin-bottom: 44px;   
}
.enjoy-text {
    font-size: 16px;
    line-height: 1.5;
    width: 336px;
}
.carusel {
    display: flex;
}
.enjoy-btn {
    position: absolute;
    z-index: 10;
}
}


/* ******************enjoy 1280******************** */
@media screen and (min-width: 1280px) {
.main-box {
        width: 1280px;
}
.enjoy {
    padding: 159px 16px 40px 16px;
}
.enjoy-title {
    font-size: 48px;
    line-height: 1.2;
    width: 502px;
    margin-bottom: 28px;
}
    
.enjoy-text {
    font-size: 16px;
    line-height: 1.5;
    width: 511px;
    margin-bottom: 40px;
}
.carusel-img {
    width: 528px;
    height: 528px;
}
.carusel {
    top: 14px;
    right: 30px;
}
.carusel-item {
    border: 26px solid #ffe550;
}
.carusel-item:hover {
    border: 26px solid #bbf330;
}
}


/* ********************special************************* */

.special {
    position: relative;
      
}
.special-fon {
    position: absolute;
    background-image: url("../images/spec-fon-mob.svg");
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    z-index: -2;
}

.special-content {
    padding: 410px 20px 72px 20px;
}

.special-apple {
    top: 41px;
    left: 61px;
    z-index: 5;
    position: absolute;
    width: 201px;
    height: 256px;
}

.special-apple-two {
    display: none;
    position: absolute;
    width: 166px;
    height: 211px;
    top: 266px;
    right: 184px;
}

.special-apple-three { 
    display: none;
    position: absolute;
    width: 108px;
    height: 136px;
    top: 340px;
    right: 32px;
}

.special-ellipse {
    position: absolute;
    top: 240px;
    left: 110px;
    transform: rotateX(70deg);
    z-index: 4;
    fill:rgb(47, 88, 63);
    filter: blur(30px); 
    width: 100px;
    height: 100px;  
}

.apple-ellips {
    fill: #fefefe;
    z-index: 3;
    position: absolute;
    top: 82px;
    left: 32px;
    width: 256px;
    height: 256px;
}

.apple-ellips-two {
    fill: none;
    z-index: 3;
    position: absolute;
    top: 70px;
    left: 20px;
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 100%;
    width: 274px;
    height: 274px;
}

.special-title {
    font-weight: 700;
    font-size: 28px;
    color: #2c2c2c;
    margin-bottom: 28px;
}
.special-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    color: #2c2c2c;
    margin-bottom: 28px;
}
.special-text-box {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    color: #2c2c2c;
    margin-bottom: 28px;
    
}
.special-title-item {
    font-weight: 700;
    font-size: 18px;
    color: #2c2c2c;
    margin-top: 4px;
    margin-bottom: 16px;
}
.special-btn-now {
    border: 2px solid #7eb101;
    border-radius: 30px;
    width: 106px;
    height: 40px;
    background: #fff;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    color: #2c2c2c;
    transition: background-color 250ms ease-in-out;
    margin-right: 24px;
    cursor: pointer;
}
.special-btn-now:hover,
.special-btn-now:focus {
    background-color: #bbf330;
    border:none;
}
.special-more {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.5;
    color: #000;
    padding-bottom: 10px;
    padding-top: 10px;   
}
.special-more-img {
    margin-left: 3px;    
}


/* ******************special 768******************** */


@media screen and (min-width: 768px) {

.special-fon {
    background-image: url("../images/tablet/spec-fon-tabl.svg");
}
.special-content {
    padding: 580px 32px 88px 32px;
}
.special-apple {
    top: 151px;
    left: 84px;
    width: 258px;
    height: 326px;
}
.special-apple-two {
    display: block;
}

.special-apple-three {
    display: block;
}
.special-ellipse {
    top: 423px;
    left: 132px;
    width: 160px;
    height: 100px;  
}

.apple-ellips {
    top: 202px;
    left: 48px;
    width: 327px;
    height: 327px;
}

.apple-ellips-two {
    top: 185px;
    left: 31px;
    width: 357px;
    height: 357px;
}
.special-title {
    width: 526px;
    font-size: 42px;
}
.special-text {
    width: 500px;
    font-size: 16px;
    line-height: 1.5;
}
.special-box {
    display: flex;
    gap: 80px;
}
.special-text-box {
    width: 290px;
}
}

/* ******************special 1280******************** */
@media screen and (min-width: 1280px) {
.special-fon {
    background-image: url("../images/desktop/spec-fon-des.svg");
    }
.special-content {
    padding: 260px 51px 80px 656px;
        }
.special-apple-two {
    display: none;           
}
.special-apple-three {
    display: none;
}
.special-apple {
    top: 177px;
    left: 97px;
    width: 396px;
    height: 502px;
}
.special-ellipse {
    top: 600px;
    left: 225px;
    width: 150px;
    height: 150px;
}

.apple-ellips {
    top: 255px;
    left: 40px;
    width: 502px;
    height: 502px;
}

.apple-ellips-two {
    top: 231px;
    left: 16px;
    width: 550px;
    height: 550px;
}
.special-text-box {
    width: 253px;
    margin-bottom: 32px;
}
.special-text {
    margin-bottom: 40px;
}
.special-title {
    margin-bottom: 20px;
}
.special-ellipse {
    filter: blur(45px);
}
.special-more {
    display: none;
}
}

/* *******************Favorites*********************** */

.favorites {
    padding: 60px 20px;
}

.favorites-title {
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    color: #2c2c2c;
}

.favorites-text {
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #2c2c2c;
    margin-bottom: 60px;
    margin-top: 20px;
}

.favorites-list { 
    display: flex;
    flex-direction: column;
    row-gap: 20px;   
}

.favorites-item {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.favorite-link {
    border: 11px solid #ffe550;
    border-radius: 100%;
    background-color: #fefefe;
    transition: border 250ms ease-in-out;
}
.favorites-img {
    border-radius: 100%;
    width: 223px;
    height: 223px;
    border: 15px solid #fefefe;
}

.favorite-link:focus,
.favorite-link:hover {
    border: 11px solid #bbf330;
}

.favorit-mob-none {
    display: none;
}
/* ******************favorite 768******************** */
@media screen and (min-width: 768px) {
.favorites {
    padding: 100px 32px;
    }
.favorites-title {
    font-size: 42px;
    }
.favorites-text {
    font-size: 16px;
    }
.favorites-img {
    width: 269px;
    height: 269px;
    border: 22px solid #fefefe;
}
.favorit-mob-none {
    display: flex;
}
.favorites-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    row-gap: 32px; 
}
.favorites-item {
    flex-basis: calc((100% - 32px) / 2);
}
}

 /* ******************favorite 1280******************** */
 @media screen and (min-width: 1280px) {
.favorites {
    padding: 100px 16px;
}
    .favorites-img {
    width: 315px;
    height: 315px;
    border: 28px solid #fefefe;
}
.favorites-item {
    flex-basis: calc((100% - 64px) / 3);
}
}

/* *************************Customers**************************** */

.customers {
    position: relative;
}

.customers-content {
    padding: 60px 20px 60px 20px;
}

.customers-fon {
    position: absolute;
    background-image: url("../images/cust-fon-mob.svg");
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    z-index: -2;
}

.customers-title {
    font-weight: 700;
    font-size: 28px;
    color: #2c2c2c;
    margin-bottom: 20px;
}

.customers-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    color: #2c2c2c;
    margin-bottom: 32px;
}

.customers-list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;    
}

.customers-item {
    background-color: #fefefe;
    padding: 8px;
    border-radius: 0 30px 30px 30px;
}

.customers-comment-text  {
    font-weight: 700;
    font-size: 16px;
    color: #2c2c2c;
    width: 264px;
    margin-top: 30px;
    margin-bottom: 38px;
}
.customers-stars {
    fill: #ffe550;
}
.customers-item-box {
    display: flex;
    align-items: center;
}

.comment-name {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    color: #2c2c2c;
    margin-left: 16px;
    border-right: 1px solid #7eb101;
    padding-right: 16px;
   
}
.comment-text {
    font-weight: 400;
}

 /* ******************favorite 768******************* */
 @media screen and (min-width: 768px) {
.customers-fon {
    background-image: url("../images/tablet/cust-fon-tabl.svg");
    }
.customers-content {
    padding: 60px 32px 120px 32px;
}
.customers-title {
    font-size: 42px;
}
.customers-text {
    font-size: 16px;
}
.customers-list {
    display: flex;
    flex-direction: row;
    gap: 32px;
}
.customers-comment-text {
    font-size: 18px;
    width: 312px;
    margin-top: 28px;
    margin-bottom: 40px;
}
.customers-item {
    padding: 12px;
}
}

/* ******************favorite 1280******************** */
@media screen and (min-width: 1280px) {
.customers-fon {
    background-image: url("../images/desktop/cust-fon-des.svg");
}
.customers-content {
    padding: 100px 16px 200px 16px;
}
.customers-list {
    gap: 139px;
}
.customers-comment-text {
    width: 473px;
}
.customers-item {
    padding: 14px;
}
}


/* *******************Subscribe******************** */

.subscribe {
    padding: 60px 20px 60px 20px;
    position: relative;
}

.subscribe-banana {
    position: absolute;
    top: -43px;
    width: 280px;
    height: 78px;
    
}

.subscribe-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.2;
    color: #2c2c2c;
    margin-bottom: 20px;
}

.subscribe-text {
    font-weight: 400;
    font-size: 14px;
    color: #2c2c2c;
    margin-bottom: 40px;
}
.subscribe-btn {
    display: block;
    border-radius: 30px;
    padding: 10px 20px;
    width: 103px;
    height: 42px;
    background-color: #bbf330;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    color: #2c2c2c;
    border: none;
    cursor: pointer;
    transition: background-color 250ms ease-in-out;
    margin-left: auto;
    margin-top: 20px;        
}
.subscribe-btn:hover,
.subscribe-btn:focus {
    background-color: #ffe450;
}


.subscribe-input {
    border: 1px solid #ffe550;
    border-radius: 30px;
    width: 254px;
    height: 100%;
    background-color: transparent;
    outline: transparent;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color: #505050;
    padding: 12px;    
}


 /* ******************Subscribe 768******************* */
 @media screen and (min-width: 768px) {
.subscribe {
    padding: 82px 32px 100px 32px;           
}
.subscribe-banana {
    right: 32px;
    top: -74px;
    width: 281px;
    height: 136px;
}
.subscribe-title {
    font-size: 42px;
}
.subscribe-text {
    font-size: 16px;
    margin-bottom: 24px;
    width: 520px;
}
.subscribe-input {
    width: 394px;
}
.subscribe-form {
    display: flex;
    align-items: center;
}
.subscribe-btn {
    margin-left: 22px;
    margin-top: 0;
    
    
}
}

 /* ******************Subscribe 1280******************** */
 @media screen and (min-width: 1280px) {
.subscribe {
    padding: 0px 17px 100px 17px;
}   
.subscribe-banana {
    right: 16px;
    top: -76px;
    width: 608px;
    height: 266px;
}
.subscribe-text {
    width: 532px;
}
 }

/* ****************footer******************** */
.footer {
    margin: 0 auto;
    width: 320px;
    box-shadow: 0 -4px 24px 0 rgba(105, 105, 105, 0.1);
    background-color: #fefefe;
    position: relative;
}

.footer-content {
    padding: 64px 20px 60px 20px;
}

.footer-logo {
    position: absolute;
    top: 60px;
    left: 26px;
}

.footer-menu {
    text-align: center;  
}

.footer-list {
    margin-bottom: 20px;
}

.footer-item {
    font-weight: 400;
    font-size: 14px;
    color: #000;
}


.subscribe-form-box {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}
.subscribe-label {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    color: #2c2c2c;
    
}

.footer-item:hover,
.footer-item:focus {
    color: #7eb101;
}

.footer-btn {
    border: 1px solid #7eb101;
    border-radius: 30px;
    width: 103px;
    height: 35px;
    background-color: #fff;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    color: #2c2c2c;
    cursor: pointer;
    transition: background-color 250ms ease-in-out;
    margin-top: 20px;
    margin-bottom: 24px;   
}

.footer-btn:hover,
.footer-btn:focus {
    background-color: #bbf330;
    border: none;
}

.footer-text {
    font-weight: 400;
    font-size: 10px;
    color: #2c2c2c;
}

.footer-policy {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #7eb101;
}

.footer-box-link {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-top: 60px;
}

.footer-box-item {
    display: block;
    
}
.footer-link {
    font-weight: 400;
    font-size: 10px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #7eb101;
}
.footer-text-end {
    font-weight: 400;
    font-size: 10px;
    color: #2c2c2c;
    text-align: center;
}

.footer-img-right {
    position: absolute;
    top: 0;
    right: 0;
    
}

.footer-img-left {
    position: absolute;
    top: 132px;    
}

.footer-img-bottom {
    position: absolute;
    bottom: 0;
    left: 43px;
}


 /* ******************footer 768******************* */
 @media screen and (min-width: 768px) {
.footer {
           width: 768px;
}
 }

 /* ******************footer 1280******************** */
 @media screen and (min-width: 1280px) {
.footer {
            width: 1280px;
}
}

/* ******************modal********************* */

.modal-close-but {
    position: absolute;
    display: flex;
    top: 16px;
    right: 16px;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 32px;
    height: 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.10);
    border: none;
    border-radius: 50%;
    background-color: #e7e9fc;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);   
}

.modal-close-img{
    fill: #2c2c2c;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-but:hover>.modal-close-img,
.modal-close-but:focus>.modal-close-img {
    fill: #ffffff;
}


.modal-close-but:hover,
.modal-close-but:focus {
    background-color: #7eb101;
    
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    z-index: 999;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    border-radius: 30px;
    position: absolute;
    width: 280px;
    padding: 32px 20px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06);
    background: #ffe550;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    pointer-events: auto;
}

.modal-form-cont {
    position: relative;
    margin-bottom: 24px;
}

.modal-text {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    color: #2c2c2c;
    text-align: center;
    margin-bottom: 20px;
}

.modal-form-label {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    color: #2c2c2c;
    margin-left: 12px;
    margin-bottom: 2px;
}



.modal-submit-but {
    border: 2px solid #7eb101;
    border-radius: 30px;
    width: 106px;
    height: 40px;
    background-color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    color: #2c2c2c;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
    display: block;
    margin-top: 32px;

}

.modal-submit-but:hover,
.modal-submit-but:focus {
    background-color: #bbf330;
}

.modal-form-input {
    border: 1px solid rgba(18, 18, 18, 0.171);
    border-radius: 30px;
    width: 254px;
    outline: transparent;
    box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.11);
    background: #fff;
    padding: 14px 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: #2c2c2c;
}

.modal-form-input:focus {
    border: 1px solid #7eb101;
}

.modal-form-input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: #c4c4c4;
}


